<%- include('../partials/header') %>
<body>
   
   <div class="grid-container neg-margin">
    <br>
    <div class="grid-x">
        <div class="small-2 cell">
            <aside>
                <%- include('../partials/sidebar') %>
            </aside>
        </div>

        <main class="small-8 cell grid-container">
           
           
            <%- body %> <!-- This is where page-specific content will be injected -->
        </main>
        <div class="small-2 cell">
        <aside>
            <%- include('../partials/right-sidebar') %> <!-- Include right sidebar here -->
          </aside>
        </div>
  </div>
  </div>

  <%- include('../partials/footer') %>

  
  <!-- Add other JS files -->
    
   <script src="../js/foundationInit.js"></script>
  



</body>
</html>


